#!/bin/bash

# real programmers
export EDITOR="emacsclient -c -a emacs"
export GIT_EDITOR="emacsclient -nw"
export KUBE_EDITOR="emacsclient -nw"

# history!
export HISTSIZE=50000
export HISTFILESIZE=$HISTSIZE

export LC_ALL=en_US.UTF-8

# coloured output for ls
export CLICOLOR=1

# set GPG environment variable (cf https://stackoverflow.com/a/42265848/117912)
export GPG_TTY=$(tty)

# sometimes for whatever reason $TMPDIR is not writable
if [ ! -w $TMPDIR ]; then
    export TMPDIR=`mktemp -d`
fi

# if we have a Teleport kubeconfig file, add it
if [ -f $HOME/.kube/teleport-kubeconfig.yaml ]; then
    export KUBECONFIG="$HOME/.kube/teleport-kubeconfig.yaml:$KUBECONFIG"
fi

## testcontainers
# Since Docker is runing inside a VM on mac we need to tell
# testcontainers the location of the Docker socket inside the
# VM. We need to disable ryak for the same reason.
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
export TESTCONTAINERS_RYUK_DISABLED=true
