#!/bin/bash

export EDITOR=emacs

export HISTSIZE=50000
export HISTFILESIZE=$HISTSIZE

export LC_ALL=en_US.UTF-8

# set GPG environment variable (cf https://stackoverflow.com/a/42265848/117912)
export GPG_TTY=$(tty)
