#!/bin/bash

# Find stuff in Maven POM files within this directory
findpom() {
    find . -name pom.xml | xargs grep $@
}

# Generate a random string which can serve as the basis for a password
genpasswd() {
  cat /dev/urandom | head -c 100 | base64
}

# Determine disk usage for all files, also dotdirs
dusch() {
  if ! hash gsort 2>/dev/null; then
    (>&2 echo "This function relies on gsort which seems not to be installed.")
    return 1
  fi
  du -sch .[!.]* * | gsort -rh
}
